a{
  color:black !important;
}
.auth-card{
  padding:20px;
  margin:50px auto;
  text-align: center;
  max-width:500px;
}
#toast-container
{
  top:30px !important;
  right:30px !important;
  left:auto !important;
}
.collection-item{
  width:100%
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin:0 auto;
 
}
.pic{
width:30%;
max-width:200px;
max-height:200px;
margin:1%
}
.homepage{
  height:"max-content";
}
.material-icons:hover{
  cursor: pointer;
}
/* @media only screen and (max-width: 770px) {
  .nav-wrapper{
    width:100%;
  }
} */